/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

#principal {
    width: 900px;
    height: auto; 
    overflow: hidden;
    border: 0px solid #000;
    margin: auto;
}

header, footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1.5rem 0; /* Aumentado el padding */
}

#logo {
    width: 250px;
    height: auto; 
    overflow: hidden;
    float: left;
}

.titulo {
    font-size: 20px;
    margin: 0; /* Eliminado margen */
}

.menu {
    width: 470px;
    height: 40px;
    border: 1px solid #000;
    float: right;
    margin-top: 20px; /* Ajustado el margen */
    background-color: #006699;
}

.menu ul {
    list-style: none;
    padding: 0;
}

.menu ul li {
    float: right;
}

.menu ul li a {
    text-decoration: none;
    padding: 10px 15px; /* Ajustado el padding */
    color: #fff;
}

.menuf {
    text-decoration: none;
    border: 1px solid #006699;
    padding: 6px 12px; /* Ajustado el padding */
    margin: 5px;
}

.menuf:hover {
    background: #000;
    color: #fff;
    transition: background 0.5s, color 0.5s;
}

#slide {
    margin-top: 20px; /* Aumentado el margen */
    width: 900px;
    height: 250px;
}

#info {
    margin-top: 30px; /* Aumentado el margen */
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
}

footer {
    width: 900px;
    height: auto; /* Ajustado para que se adapte al contenido */
    text-align: center;
    padding: 20px 0; /* Aumentado el padding */
}
